<div *ngIf="pais$ | async as pais" class="row animated fadeIn">
    <div *ngIf="region$ | async as region" class="col">
        <h2><i>Pais <u>{{pais.name}}</u></i></h2>
        <ul>
            <li>Capital: {{pais.capitalCity}}</li>
            <li>Latitud: {{pais.latitude}} / Longitud: {{pais.longitude}}</li>
            <li>Region : {{region.name}}</li>
        </ul>
        <div class="col ">
            <button type="button" (click)="regresarRegion()" class="btn btn-primary ">Regresar</button>
        </div>
    </div>
</div>